<!doctype html>
<html>
<meta charset="utf8">
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="todo.js"></script>
<title>To Do List</title>
<body>
	<section id="todo">
		<h1>To Do</h1>

		<form @submit.prevent="add">
			<label for="new">NEW ITEM</label>
			<input id="new" autofocus type="text" v-model="newValue" placeholder="Ex: Slay the Dragon"/>
			<button type="submit" class="addButton">ADD</button>
		</form>

		<h2>LIST</h2>
		<ul>
			<li v-for="(item, index) in itemArray" :class="{ isComplete: item.isComplete }">
				<button @click="toggle(index)" class="compButton">✓</button>
				<p>{{item.value}}</p>
				<button @click="remove(index)" class="delButton">✗</button>
			</li>
		</ul>
		
	</section>
</body>
</html>